.beer-wall {
  background: url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  opacity: 0.5;
}

.search-engine {
  margin-top: 30px;
}

.input-field .prefix.active {
  color: #eee5d9;
}

button.dropdown-trigger, .dropdown-trigger:focus {
  background-color: rgba(0, 0, 0, .8);
  color: #eee5d9;
  font-size: 1.5rem;
  height: 40px;
}

.dropdown-trigger:hover {
  background-color: #eee5d9;
  opacity: 0.8;
  color: rgba(0, 0, 0, .8);
}

.dropdown-content {
  background-color: #212121;
}

.dropdown-content li>a {
  color: #eee5d9;
}

.dropdown-content li>a:hover {
  background-color: #eee5d9;
  color: #212121;
}

.dropdown-trigger {
  margin-top: 25px;
}

.noUi-tooltip span {
  position: relative;
  font-size: 15px;
  top: 0;
}

.noUi-origin, .noUi-target.noUi-ltr.noUi-horizontal .noUi-tooltip, .noUi-connect, .noUi-active, .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
  background-color: #546e7a;
}

.sliders {
  margin-bottom: 0;
  margin-top: 40px;
}

.sliders>.col.s5>p {
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  margin-top: 10px;
}

.beer-btn:hover {
  color: #6d4c41;
}

.row .col.s3 {
  width: 30%;
  margin-left: 2%;
}

.link {
  padding-left: 0;
}

.card .card-reveal {
  background-color: rgba(0, 0, 0, .95);
}

.card .card-reveal p {
  font-size: 20px;
  line-height: 1.25;
}

.activator {
  cursor: pointer;
}

#beer-style {
  font-weight: bolder;
}

#beer-country {
  font-weight: bolder;
}

.waves-effect {
  -webkit-transition: none;
  transition: none;
}

@media (max-width: 992px) {
  .search-engine {
    margin: auto;
    height: 450px;
    position: relative;
  }
  .row .input-field.col.s7 {
    width: 80%;
  }
  .dropdown-trigger {
    width: 100%;
    margin-top: 0;
    left: 50%;
  }
  .btn {
    position: absolute;
    width: 25%;
  }
  .dropdown-trigger, button.waves-effect {
    transform: translate(-50%, -50%);
  }
  .sliders {
    margin-top: 60px;
  }
  .sliders .col.s5 {
    position: absolute;
  }
  #abv, #ibu {
    width: 100%;
  }
  .sliders .col.s5:nth-child(2), .sliders .col.s5:nth-child(3) {
    left: 29%;
  }
  .sliders .col.s5:nth-child(3) {
    top: 60%;
  }
  .sliders .col.s5 p {
    font-size: 20px;
  }
  .waves-effect {
    top: 80%;
    left: 49%;
  }
  .row .col.s3 {
    width: 40%;
    margin-left: 7%;
  }
}

@media (max-width: 671px) {
  .row .col.s3 {
    width: 80%;
    margin-left: 10%;
  }
  .beer-btn.btn {
    left: 48%;
  }
}

@media (max-width: 400px) {
  .btn {
    width: 50%;
  }
}