.brewery {
  background: url(https://images.unsplash.com/photo-1445140463371-d8036feedc2f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1952&q=80) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  overflow: auto;
  opacity: 0.5;
}

.search-engine .container {
  margin-top: 20px;
}

form .row {
  margin-bottom: 0;
}

.input-field .prefix.active, input {
  color: #eee5d9;
}

#search-by-state {
  margin-top: 35px;
}

.caret {
  fill: #eee5d9 !important;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #eee5d9;
}

.dropdown-content {
  background-color: #212121;
}

.dropdown-content li>span {
  color: #eee5d9;
}

.dropdown-content li>span:hover {
  background-color: #eee5d9;
  color: #212121;
}

.brewery-btn:hover {
  color: #ff9100;
}

.card.horizontal {
  width: 100%;
  height: 300px;
}

a.get-directions-btn {
  margin: 10px 0;
  padding-top: 3px;
  height: 40px;
  width: 150px;
  font-size: 1.5rem;
  background-color: #546e7a;
}

a.get-directions-btn:hover {
  background-color: #eee5d9;
  color: #546e7a;
}

.modal, .modal-footer {
  background-color: #212121 !important;
  color: #eee5d9 !important;
}

.modal-footer a {
  font-size: 20px;
}

@media (max-width: 671px) {
  .card-image {
    width: 30%;
  }
  .card-image img {
    height: 100%;
  }
  .company-name {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .card.horizontal {
    width: 95%;
    height: 230px;
    margin-left: 3%;
    margin-bottom: 10px;
  }
  .company-name {
    margin-top: 0;
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .card .card-content {
    padding: 15px;
    padding-bottom: 0;
  }
  .card .card-action {
    padding-top: 5px;
  }
}