.background-img1 {
    background: url(https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2850&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  .background-img2 {
    background: url(https://images.unsplash.com/photo-1538488881038-e252a119ace7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  .background-img3 {
    background: url(https://images.unsplash.com/photo-1513189737554-b1bbd839b9a3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
  }
  
  #btns {
    margin-top: 200px;
  }
   
  .parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    
  .parallax-container .section {
    width: 100%;
  }
   
  .icon-block {
    padding: 0 15px;
  }
  
  .icon-block .material-icons {
    font-size: inherit;
  }


  .tabs .indicator {
    background-color: #eee5d9;
  }

  .card .card-content:first-child {
    background-color: #eee5d9;
    color: #263238;
  }

  .tabs .tab a {
    color: #263238;
  }

  .tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #263238;
    opacity: 0.9;
    color: #eee5d9;
  }

  @media (max-width: 600px) {
    .beer-btn, .brewery-btn {
      display: block;
      min-width: 130px;
      min-height: 50px;
      margin: 20px auto;
    }

    #btns {
      margin-top: 150px;
    }
  }