body {
  background-color: #212121;
  height: 100%;
  margin: 0;
  color: #eee5d9;
  font-family: 'Abel', sans-serif;
  /* font-family: 'Handlee', cursive; */
}

.btn, .input-field, .sliders>.col.s5>p {
  font-family: 'Amatic SC', cursive;
}

.btn {
  margin: 10px;
  width: 200px;
  height: 70px;
  opacity: 0.8;
}

.link {
  cursor: pointer;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: #ffab40;
}

.link:hover {
  color: #ffd180;
  transition: color .3s ease;
}

.link:focus {
  background-color: transparent;
}

nav {
  padding: 0 30px;
}

nav ul a, nav .brand-logo, .contact {
  color: #eee5d9;
}

nav ul a {
  font-size: 1.3rem;
  margin: 0 10px;
}

nav {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: none;
}

.btn-large {
  font-size: 2.3rem;
}

.container {
  margin-top: 50px;
}

.card {
  background-color: #263238;
}

.input-field>label {
  font-size: 1.3rem;
}

.input-field input[type]:focus:not([readonly])+label, .input-field textarea:focus:not([readonly])+label {
  color: #eee5d9;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.input-field input[type]:focus:not([readonly]), .input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid #eee5d9;
  box-shadow: 0 1px 0 0 #eee5d9;
  color: #eee5d9;
}

.footer-copyright .container {
  margin-top: 0;
}

.page-footer {
  margin: 0;
}

footer {
  padding-top: 0 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 992px) {
  #nav-mobile {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    margin-top: 64px;
    padding: 10px 32px;
    width: 40%;
  }
  .sidenav li>a, .menu {
    color: #eee5d9;
    font-size: 1.3rem;
  }
  button {
    height: 40px;
    width: 20%;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  #nav-mobile {
    margin-top: 56px;
  }
  .btn-large {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media (max-width: 443px) {
  #logo-container {
    font-size: 2rem;
    overflow-x: hidden;
    white-space: nowrap;
    padding-left: 20px;
  }
  .sidenav li>a {
    padding: 0 10px;
  }
}